body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(51, 54, 57);
}

#mainCanvas {
  position: relative;
  margin: 20px 10px 0 0;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.page {
  /* background: white; */
  margin: 100px 0 100px 0;
  width: 100vw;
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .page {
    width: 100vw;
    margin: 0;
    border-radius: 0px;
    height: 100vh;
  }
}

.pageSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.maze-demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.controls {
  height: 100%;
  padding: 10px;
  margin: 20px 10px 0 0;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);
  background: rgb(32, 33, 36);
  color: white;
}

/* download bar */
#downloadProgressParent {
  /* width: 100%; */
  height: 30px;
  flex-grow: 1;
}

#downloadContainter {
  width: 100%;
  bottom: 0;
  height: 30px;
  position: fixed;
  background: black;
  display: flex;
  flex-direction: row;
}

#progressBar {
  background: #2ecc71;
  height: 30px;
}

#downloadButton {
  background: #2ecc71;
}

#downloadButton img {
  width: 30px;
  height: 30px;
  flex: 1;
  flex-grow: 0;
}
/* download bar */

/* canvas progress bar */
#canvasProgressWrapper {
  position: relative;
  transition: width 0.1s;
  height: 10px;
}
#canvasProgressInner {
  width: 0%;
  height: 100%;
  background: #2ecc71;
}
/* canvas progress bar */
